body
{
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-div
{
  background-color: #f3f3f3;
  width: 300px;
  height: 300px;
  margin: auto;
  border: 3px solid black;
  position: relative;
}

.outer-div > p {
  position: absolute;
  top: 15px;
}


.inner-div
{
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 3px;
  border: 3px solid black;
  position: absolute;
  /* we want 50px around, so 50 / 300 ~ 0.1667 ~ 16.67% */
  top: 16.67%;
  left: 16.67%;
}

.inner-div > p {
  position: absolute;
  top: 15px;
}

.most-inner-div
{
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 3px;
  border: 3px solid black;
  position: absolute;
  /* we want 50px around, so 50 / 200 ~ 0.25 ~ 25% */
  top: 25%;
  left: 25%;
}

.most-inner-div > p {
  position: absolute;
  top: 15px;
}
